{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
        <div class="card">
                <div class="card-header">
                        <h5 class="card-title">Refugio: {{ refugio.nombre }}</h5>
                </div>

                {% if refugio.foto %}
                <img src="{{refugio.foto.url}}" width="200px">
                {% endif %}
                <p class="card-text">{{ refugio.descripcion }}</p>
                <p class="card-text"><strong>Direccion:</strong> {{ refugio.direccion }}</p>
                <p class="card-text"><strong>Ciudad:</strong> {{ refugio.ciudad }}</p>
                <p class="card-text"><strong>Actualización:</strong> {{ refugio.fecha_actualizacion }}</p>
                <p class="card-text"><strong>Tipo refugio:</strong> {{ refugio.tipo }}</p>

                {% if refugio.documento %}
                <p class="card-text"><a href="{{ refugio.documento.url }}">Descargar documento:</a> 
                        {{ refugio.documento.url }}
                </p>
                {% endif %}

                <p>Está autenticado: {{request.user.is_authenticated}}</p>

           
                {% if request.user.is_authenticated %}
                <a type="button" href="{{ refugio.get_delete_url }}" class="btn btn-danger">Eliminar</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                <a type="button" href="{{ refugio.get_edit_url }}" class="btn btn-warning">Editar</a>
                <a type="button" href="/accounts/logout/" class="btn btn-success">Logout</a>
                {% else %}
                <a type="button" href="/accounts/login/?next={{ refugio.get_absolute_url }}" class="btn btn-success">Login para editar</a>
                
                {% endif %}

                

</div>
</div>
        
{% endblock %}