{% extends 'partials/base.html' %} 
{% load static %} 

{% block extra_css %} 
{% endblock %} 

{% block body %} 
{% endblock %} 

{% block content %} 

        <h1> {{titulo}}  </h1>
        <p> {{mensaje}} </p>
        <p> 
            <p>¿tiene_postulante? {{tiene_postulante}}</p>
            <p>tiene_personal? {{tiene_personal}}</p>
            <p>ID_POSTULANTE? {{request.user.postulante.pk}}</p>
            <p>ID_PERSONAL? {{request.user.personal.pk}}</p>
            <p>ID_USER? {{request.user.pk}}</p>
        
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col">Edad</th>
                </tr>
            </thead>
            <tbody>
        {% for p in perros %}
            <tr>
                <td>
                    {% if p.nombre == "Rex" %}🐕{% endif %}
                    {{p.nombre}}
                </td>
                <td>{{p.raza}}</td>
                <td>{{p.edad}} años</td>
            </tr>
        {% endfor %}
    </tbody>
        </p>
        <p>Contar palabras
        {{contar_frecuencia_palabras}}
    </p>

    <h2>{{texto_traducido}}</h2>

    
{% endblock %} 
{% block extra_javascript %} 
{% endblock %}