{% extends 'partials/base.html' %} 
{% load static %} 

{% block extra_css %} 
{% endblock %} 

{% block body %} 
{% endblock %} 

{% block content %} 

<div class="container mt-4">
    <p>{{color}}</p>
    <h1>Refugios</h1>
    <ul class="list-group">
        {% for r in refugios %}
        <li class="list-group-item">
            <a href="{{r.get_absolute_url}}">{{ r.nombre }}</a> 
            {{ r.cantidad_perros }} perros
        </li>
        {% empty %}
        <li class="list-group-item">No hay refugios.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %} 
{% block extra_javascript %} 
{% endblock %}