{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
        <h1>Perros en {{ ciudad }}</h1>
        <ul class="list-group">
            {% for perro in perros %}
            <li class="list-group-item">
                <a href="/perro/{{ perro.pk }}">{{ perro.nombre }}</a> - Refugio: {{ perro.refugio_actual.nombre }}
                <!-- Añade más detalles que desees mostrar -->
            </li>
            {% empty %}
            <li class="list-group-item">No hay perros registrados en esta ciudad.</li>
            {% endfor %}
        </ul>
</div>
        
{% endblock %}